.celebration-section{

    padding:70px 40px;
    
    background:#f7f8fa;
    
    }
    
    
    
    .header{
    
    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    
    margin-bottom:35px;
    
    }
    
    
    
    .kicker{
    
    color:#c8102e;
    
    font-size:12px;
    
    letter-spacing:2px;
    
    font-weight:700;
    
    }
    
    
    
    h2{
    
    font-size:38px;
    
    color:#17232e;
    
    }
    
    
    
    p{
    
    color:#687680;
    
    }
    
    
    
    .calendar-button{
    
    
    border:1px solid #c8102e;
    
    background:white;
    
    color:#c8102e;
    
    padding:12px 22px;
    
    border-radius:8px;
    
    cursor:pointer;
    
    
    }
    
    
    
    .employee-grid{
    
    
    display:grid;
    
    grid-template-columns:
    
    repeat(auto-fit,minmax(280px,1fr));
    
    
    gap:25px;
    
    
    }
    
    
    
    .employee-card{
    
    
    background:white;
    
    border-radius:16px;
    
    padding:22px;
    
    display:flex;
    
    gap:18px;
    
    align-items:center;
    
    box-shadow:
    0 10px 30px rgba(0,0,0,.06);
    
    
    }
    
    
    
    .employee-card img{
    
    
    width:90px;
    
    height:90px;
    
    border-radius:50%;
    
    object-fit:cover;
    
    
    }
    
    
    
    .employee-info{
    
    
    display:flex;
    
    flex-direction:column;
    
    gap:7px;
    
    
    }
    
    
    
    .employee-info button{
    
    
    margin-top:10px;
    
    border:1px solid #c8102e;
    
    background:white;
    
    color:#c8102e;
    
    padding:8px 14px;
    
    border-radius:6px;
    
    
    }
    
    
    
    
    .overlay{
    
    
    position:fixed;
    
    inset:0;
    
    background:rgba(0,0,0,.45);
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    z-index:2000;
    
    
    }
    
    
    
    .calendar-popup{
    
    
    width:700px;
    
    background:white;
    
    padding:35px;
    
    border-radius:18px;
    
    
    }
    
    
    
    .close{
    
    
    float:right;
    
    border:none;
    
    background:none;
    
    font-size:25px;
    
    }
    
    
    
    .calendar-grid{
    
    
    display:grid;
    
    grid-template-columns:
    repeat(7,1fr);
    
    gap:10px;
    
    margin:25px 0;
    
    
    }
    
    
    
    .calendar-grid button{
    
    
    height:55px;
    
    border:1px solid #ddd;
    
    background:white;
    
    border-radius:10px;
    
    
    }
    
    
    
    .calendar-grid .event{
    
    border-color:#c8102e;
    
    color:#c8102e;
    
    font-weight:700;
    
    
    }
    
    
    
    .calendar-grid .active{
    
    
    background:#c8102e;
    
    color:white;
    
    
    }
    
    
    
    .popup-grid{
    
    
    display:grid;
    
    grid-template-columns:
    repeat(auto-fit,minmax(240px,1fr));
    
    gap:20px;
    
    
    }
    
    
    
    .small img{
    
    width:60px;
    
    height:60px;
    
    
    }